---
layout: page
title: "About"
description: "Hey, this is Zhx."
header-img: "img/about-bg.jpg"
---

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        中心医院降生，粗糙段子手，点赞者，投币者，蓝星求知者，天花不侵之人</br>
        艾泽拉斯大领主，花村村委会荣誉会员，海拉尔大陆观光客，守护岑缨办公室主任</br>
        米饭终结者，麻辣香锅杀手，小面鉴赏大师
    </blockquote>
    “这个逸夫楼是建在图书馆之下的，馆藏的所有书籍，就是一个一个小砝码。我们的焚书举动，都被书中的芯片传递到这里的计数器来。每烧掉一本对延续人类文明不重要的书，就会增加相应分数；每烧掉一本对人类文明至关重要的书，则会减少相应分数。如果我们想进入末日基地，就必须证明给电脑看，我们能够准确判断出哪些重要，哪些不重要，直到凑够十万知识点。”<br><br>
    祝佳音拿起地上残留的几本书，侃侃而谈：“我刚才拿几本书做了实验。烧高等数学的惩罚很严重，可见理工科类，对人类文明存续至关重要，这个判断很符合常识，所以这类书是绝对不能烧的。可是，接下来，才是最难的部分。根据我做的实验结果，烧掉《一生要去的全球100美景》，每本加了5分，不太高，说明设计者厌恶这类书，认为它们毫无价值；然后我烧了《荆棘鸟》，得了7分，烧了《尤利西斯》，得了10分，说明设计者对澳大利亚文学和意识流心存畏惧，但毫无敬意；可当我烧掉《金瓶梅全本》后，却被扣了15分，设计者应该是很喜欢读它……”<br><br>

    <p style="text-align:right;">
        —— <a href="https://baike.baidu.com/item/%E9%A9%AC%E4%BC%AF%E5%BA%B8">马伯庸 － 末日焚书 </a>
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
